<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <!-- <i class="nc-icon nc-globe text-warning"></i> -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48" fill="currentColor">
                  <path d="M12 1C6.48 1 2 5.48 2 11v2H0v4h2v8h4v-8h3v-4H6v-2c0-2.21 1.79-4 4-4h3V1z" style="color:blue"/>
              </svg>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">New leads </p>
                <p class="card-title">{{NombreLeadsSales}}
                  <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-refresh"></i><a  routerLink="/dashSales" > veiw More  </a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <!-- <i class="nc-icon nc-vector text-danger"></i> -->
                <i class="nc-icon nc-favourite-28 text-primary"></i>
               
              </div>   
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">All Leads</p>
                <p class="card-title">{{NombreAllLeads}}
                  <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-clock-o"></i> <a  href="https://design-by-mohamed-aziz.web.app/home"> veiw More  </a>
          </div>
        </div>
      </div>
    </div>
  
  </div>
 
  