<div class="row">
  <div class="col-md-8 ml-auto mr-auto">
    <div class="update ml-auto mr-auto">
      <button type="submit" class="btn btn-primary btn-round">Add pyement</button>
    </div>
    </div>
    </div>
<div class="row">
  <div class="col-md-8 ml-auto mr-auto">
    <div class="card card-upgrade">
      <div class="card-header text-center">
        <h4 class="card-title">Totale Pyemmant of CRM Aplication</h4>
          <p class="card-category">Are you looking for more components? Please check our Upgrate of Paper Aplication.</p>
      </div>
      <div class="card-body">
        <div class="table-responsive table-upgrade">
          <table class="table">
            <thead>
              <th></th>
              <th class="text-center">Date</th>
              <th class="text-center">Pyement</th>
              <th class="text-center">link</th>
              <th class="text-center">Validation</th>
             
            
            </thead>
            <tbody>
              <tr>
                <td>Zapier</td>
                <td class="text-center">$19 MON</td>
                <td class="text-center">25/02/24</td>
                <td class="text-center"><a href="zapier.com">Upgrate Now</a></td>
                <td class="text-center"><i class="nc-icon nc-check-2 text-success"></i></td>              </tr>
              <tr>
                <td>stape.io</td>
                <td class="text-center">$10 MON</td>
                <td class="text-center">12/05/24</td>
                <td class="text-center"><a href="stape.io.com">Upgrate Now</a></td>
                <td class="text-center"><i class="nc-icon nc-check-2 text-success"></i></td>
              </tr>
              <tr>
                <td>SSl</td>
                <td class="text-center">$6</td>
                <td class="text-center">12/12/24 YRS</td>
                <td class="text-center"><a href="myOxahost.tn">Upgrate Now</a></td>
                <td class="text-center"><i class="nc-icon nc-check-2 text-success"></i></td>
              </tr>
              <tr>   
                <td>VPS</td>
                <td class="text-center">$85 YRS</td>
                <td class="text-center">09/02/24</td>
                <td class="text-center"><a href="myOxahost.tn">Upgrate Now</a></td>
                <td class="text-center"><i class="nc-icon nc-simple-remove text-danger"></i></td>

               
              </tr>
              <tr>
                <td>Dns:Heart of Carthage</td>
                <td class="text-center">$10</td>
                <td class="text-center">13/11/24</td>
                <td class="text-center"><a href="myOxahost.tn"></a>Upgrate Now</td>
                <td class="text-center"><i class="nc-icon nc-check-2 text-success"></i></td>
              </tr>
              <tr>
                <td>Zapier</td>
                <td class="text-center">$19</td>
                <td class="text-center">12/12/24</td>
                <td class="text-center"><i class="nc-icon nc-simple-remove text-danger"></i></td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
